extends ../layout
include mixins/commentForm.jade
include mixins/commentCollection.jade

block body
	p
		strong Title:
		= article.title
	p
		strong Text:
		= article.text

	h2 Comments
	+commentCollection(article.comments)

	h2 Add a comment:
	+commentForm(article,"/comment")

	a(href="/articles") Back |

	a(href="/article/edit/"+article.id)  Edit